.orderPage {
  min-height: 350px;
}
.orderHeader h2 {
  margin: 20px 110px 0px 125px;
  background-color: #f5f5f6;
}
.orderPage h1 {
  text-align: center;
  margin-top: 40px;
}
.orderContent {
  margin: 20px 110px 0px 125px;
  background-color: #fff;
  .orderItem {
    margin-top: 20px;
    transition: box-shadow 0.1s linear;
    border: 1px solid #dbdbdb;
    box-shadow: 0 0 0 0 rgb(0, 0, 15%);
    background-color: #fff;
    border-radius: 4px;
    padding: 16px;
    position: relative;
    overflow: hidden;
  }
  img {
    max-height: 100px;
  }
}
.orderPageNum {
  display: flex;
  padding-top: 20px;
  justify-content: center;
}
