.topBar {
  background-color: #ff9923;
  position: relative;
  padding-top: 10px;
  font-weight: bold;
  color: #fff;
}
.topBarSub {
  margin: 0px;
}
.topBarLeft {
  display: flex;
  flex: 1;
  justify-content: space-around;
  margin: 0px 0px -5px 0px;
}
.topBarRight {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-right: 125px;
}
.topBarRight a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
}
.topBarRight a:hover {
  text-decoration: none;
  color: #20225e;
}
