.productCat {
  margin: 40px 110px 0px 125px;
  position: relative;
}
.productCat h1 {
  text-align: center;
  color: #ff9923;
  font-weight: bold;
}
.productCat img {
  width: 100%;
  cursor: pointer;
  margin: 10px 0px 10px 0px;
  border-radius: 10px;
}
.onImageButton {
  position: absolute;
  top: 80%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.onImageButtonSmall {
  position: absolute;
  top: 80%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.btn {
  font-size: 20px;
  font-weight: bold;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  border-radius: 38.5px;
  box-shadow: 0 20px 20px -16px rgba(2, 6, 127, 0.35);
  background-color: #20225e;
}
.btn:hover {
  background-color: #ff9923;
  color: #fff;
}
.onTextButton {
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: bold;
  color: var(--white);
}
.onTextButtonSmall {
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: bold;
  color: #b6b0a9;
}
@media only screen and (max-width: 1200px) {
  .productCat {
    margin: 40px 20px;
  }
}
