.subBar {
  position: relative;
  align-items: center;
  margin: 25px 110px 0px 125px;
}
.subBar a {
  text-decoration: none;
}
.subBarLeft {
  cursor: pointer;
  font-size: 55px;
  font-weight: bold;
  color: #20225e;
}
.subBarRight {
  display: flex;
  justify-content: flex-end;
}
.subBarRight input {
  font-size: 30px;
  width: 60%;
  border: #007bff 2px solid;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  padding-left: 10px;
  margin-left: 10%;
}
.subBarRight input:hover {
  border: #0056b3 2px solid;
}
@media only screen and (max-width: 1200px) {
  .subBar {
    margin: 25px 20px 0px 20px;
  }
}
