.productScreen {
  margin: 20px 110px 0px 125px;
}
.navLinks {
  flex: 0.1;
  margin: 2% 2%;
  font-weight: bold;
  font-size: 1.1rem;
  display: flex;
}
.links {
  margin-left: 2%;
  display: flex;
  color: var(--black);
}
.arrowIcon {
  margin-left: 20%;
}
.productDetailContent {
  display: flex;
  flex: 0.6;
  padding: 0;
  margin: 5% 0 0 0;
}
.productDetailLeft {
  display: flex;
  flex: 0.4;
  margin-left: 2%;
}
.leftImg {
  display: block;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.imageScroll {
  margin-bottom: 70px;
}
.qtySelect {
  margin-left: 2%;
}
.title {
  font-weight: bold;
}
.features .las {
  color: green;
  font-weight: bold;
  font-size: 20px;
}
.features {
  margin-bottom: 30px;
}
.rating {
  color: var(--orange);
  font-weight: bold;
  margin: 20px 0px 20px 0px;
}
.addToCart {
  width: 50%;
  height: 10%;
  font-size: 20px;
  border-radius: 35px;
  cursor: pointer;
  position: relative;
  outline: none;
  background-color: var(--orange);
  color: var(--white);
}
.addToCart:hover {
  background-color: #20225e;
}
.productDetailRight {
  background-color: #f0f2f5;
  padding: 30px 0px 30px 20px;
}
.productDetailRight h4 {
  color: var(--orange);
  font-weight: bold;
}
.rightSec {
  display: flex;
  font-weight: bold;
}
.rightSec .la-wallet {
  color: var(--orange);
  padding-right: 20px;
}
.payIcon {
  font-size: 70px;
  margin: 10px 10px 10px 10px;
}
.payIcon .lab {
  padding: 0px 10px;
}
.productImages {
  margin: 2% 2%;
  display: flex;
  flex: 0.3;
}
.thumb {
  width: 100%;
  height: 100px;
  display: flex;
  cursor: pointer;
  margin: -6% 2%;
}
.thumb img {
  width: 90px;
  height: 100%;
  display: block;
  object-fit: cover;
  border: 1px solid #ddd;
  margin-right: 5px;
  opacity: 2.7;
  border-radius: 5px;
}
@media only screen and (max-width: 1200px) {
  .productScreen {
    margin: 20px 20px;
  }
}
@media only screen and (max-width: 992px) {
  .productDetailRight {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .productDetailCenter {
    margin-top: 50px;
  }
  .thumb {
    justify-content: center;
  }
}
