.topBar {
  background-color: #ff9923;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 10px;
  font-weight: bold;
  color: #fff;
}
.topBar a {
  text-decoration: none;
  color: #fff;
}
.topBar a:hover {
  text-decoration: none;
  color: #20225e;
}
.topBarLeft {
  display: flex;
  flex: 1;
  justify-content: space-around;
  margin: 0px 5px 0px 5px;
}
.topBarRight {
  display: flex;
  flex: 1;
  justify-content: space-around;
  margin-right: 100px;
}
.topBarRight ul {
  list-style: none;
  display: flex;
}
.topBarRight ul li {
  cursor: pointer;
  margin: 0px 5px 0px 5px;
}
