.navBarComp {
  background-color: #f5f5f6;
}
.title a {
  text-decoration: none;
  color: black;
}
.title a:hover {
  color: black;
}
.title {
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  color: #20225e;
}
.menuBar {
  padding-top: 12px;
  margin-right: 0px;
}
.menuBarLeft a {
  text-decoration: none;
}
.menuBarLeft a:hover {
  color: black;
}
.menuBarLeft ul {
  display: flex;
  font-size: 16px;
  list-style: none;
  padding-left: 10px;
  align-items: center;
}
.menuBarLeft ul li {
  margin: 0px 12px 0px 12px;
}
.menuBarRight li {
  margin: 0px 10px 0px 10px;
  cursor: pointer;
}
.menuBarRight ul {
  list-style: none;
  display: flex;
  padding-left: 0px;
  justify-content: space-around;
}
.menuBarRight ul li {
  cursor: pointer;
  margin: 0px 5px 0px 5px;
  font-size: 16px;
}
.menuBarRight ul li a {
  text-decoration: none;
}
.menuBarRight ul li a:hover {
  color: black;
}

.dropdown-menu {
  padding: 10px;
  left: auto;
  right: 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-item {
  padding-left: 0px;
}
.dropdown-toggle {
  color: black;
  font-weight: 600;
}
.userTextRight {
  color: black;
  font-weight: 600;
}
.hrLine {
  border: 2px solid #ff9923;
  border-radius: 1px;
}
.dropdownText {
  color: #20225e;
  font-weight: bold;
  text-align: center;
}
.logoutBtn {
  border: none;
  background: none;
  color: black;
  font-size: 16px;
  font-weight: 600;
}
.logoutBtn:hover {
  color: #20225e;
}
.loginBtnSocialGoogle {
  width: 13em;
  margin-bottom: 10px;
}
.loginBtnSocialGoogle img {
  width: 20px;
  margin: 6px;
}

.loginBtn {
  box-sizing: border-box;
  position: relative;
  width: 13em;
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #fff;
  margin-left: 30px;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

/* Facebook */
.loginBtn--facebook {
  background-color: #4c69ba;
  background-image: linear-gradient(#4c69ba, #3b55a0);
  text-shadow: 0 -1px 0 #354c8c;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png") 6px 6px
    no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5b7bd5;
  background-image: linear-gradient(#5b7bd5, #4864b1);
}

/* Google */
.loginBtn--google {
  background: #dd4b39;
}
.loginBtn--google:before {
  border-right: #bb3f30 1px solid;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png") 6px 6px
    no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #e74b37;
}
@media only screen and (max-width: 1200px) {
  .navBarComp {
    margin: 10px 20px;
  }
}
@media only screen and (max-width: 800px) {
  .menuBarRightUl {
    display: none;
  }
}
