html,
body {
  padding: 0;
  margin: 0;
}

html,
body,
#root,
.App {
  min-height: 100%;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Gentium Basic", serif;
  font-weight: 400;
  line-height: 1;
}

:root {
  --white: #ffffff;
  --text: #2d343e;
  --orange: #fe8033;
  --lightBg: #2b3039;
  --greyBorder: #666;
  --blue: blue;
  --borderColor: rgba(0, 0, 0, 0.4);
  --black: black;
  --evergreen: #032228;
}
